.btn{
    background-color: #877EED;
    border-radius: 24px;
    border: none;
    padding: 12px 16px;
    font-size: 16px;
    line-height: 150%;
    font-weight: 500;
    color: #fff;
    cursor: pointer;
}

.btn:hover{
    background-color: #544ACB;
}