.card-evento{
    background-color: #212121;
    display: flex;
    flex-direction: column;
    width: 282px;
    color: #fff;
}

.card-evento p,
.card-evento h4{
    margin: 0;
}

.card-evento .corpo{
    padding: 24px 16px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
}

.card-evento .tag{
    font-family: "Orbitron", sans-serif;
    background-color: #4a4949;
    border-radius: 4px;
    padding: 8px;
    display: inline-block;
    color: #fff;
    font-size: 10px;
    font-weight: 700;
    font-size: 10px;
    letter-spacing: 10%;
    text-transform: uppercase;
}

.card-evento .data{
    font-weight: 400;
    font-size: 13px;
    line-height: 120%;
    color: #fff;
}

.card-evento .titulo{
    font-family: "Orbitron", sans-serif;
    font-size: 25px;
    font-weight: 700;
    line-height: 125%;
}