.botao{
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  color: #212121 ;
  padding: 8px 16px;
  background-color: #17d9b1;
  border-radius: 8px;
  border: none;
}

.botao:hover{
    opacity: 0.8;
    cursor: pointer;
}

.acoes{
 margin-top: 32px;
 text-align: center;
}