.card{
    border-radius: 24px;
    background-color: var(--neutral-surface);
    display: flex;
    flex-direction: column;

    

}

.header{
  background-color: var(--neutral-header);
  padding: 16px;
  color: var(--neutral-text);
  text-align: center;
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
  line-height: 120%;
  font-size:20px ;
  font-weight: 700;

}

.body{
   padding: 32px 16px;
   flex-grow: 1;
   display: flex;
   flex-direction: column;
   justify-content:center;

}