<<<<<<< HEAD
body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  background-color: #403C3B;
  background-image: url('/bg.png');
  background-repeat: no-repeat;
  background-position: top center;
  background-size: auto;
=======
*{
    font-family: "Work Sans", sans-serif;
}

body{
    background-color: #06151a;
>>>>>>> b4ade39ac779e0266f26f82048e6a6a6e464f331
}