@import "tailwindcss";

@theme {
--color-neutral-darker: #1C1D21; 
--color-neutral-background: #212229; 
--color-neutral-surface: #2A2C34; 
--color-neutral-header: #33353F; 
--color-neutral-text: #F5F5F5; 
/* Primary colors */ 
--color-primary-highlight: #7693FF; 
/* Secondary colors */ 
--color-secondary-income: #D6FF62; 
--color-secondary-expense: #F87828; 
}